<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td><span title='11/29/2022' class='calculate-time-elapsed' data='1669724807'>11/29/2022</span></td><td>~1.2mBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='11/19/2022' class='calculate-time-elapsed' data='1668883821'>11/19/2022</span></td><td>~4.8mBTC</td><td>Any</td></tr>
<tr><td><span title='11/19/2022' class='calculate-time-elapsed' data='1668883652'>11/19/2022</span></td><td>~1000µBTC</td><td>Any</td></tr>
<tr><td><span title='11/16/2022' class='calculate-time-elapsed' data='1668602298'>11/16/2022</span></td><td>~120µBTC</td><td>Any</td></tr>
<tr><td><span title='11/2/2022' class='calculate-time-elapsed' data='1667408479'>11/2/2022</span></td><td>~240µBTC</td><td>Any</td></tr>
<tr><td><span title='10/16/2022' class='calculate-time-elapsed' data='1665944697'>10/16/2022</span></td><td>~210µBTC</td><td>Any</td></tr>
<tr><td><span title='10/4/2022' class='calculate-time-elapsed' data='1664849928'>10/4/2022</span></td><td>~1.3mBTC</td><td>Any</td></tr>
<tr><td><span title='9/24/2022' class='calculate-time-elapsed' data='1664026987'>9/24/2022</span></td><td>~52µBTC</td><td>Any</td></tr>
<tr><td><span title='9/24/2022' class='calculate-time-elapsed' data='1664026904'>9/24/2022</span></td><td>~1.3mBTC</td><td>Any</td></tr>
<tr><td><span title='9/7/2022' class='calculate-time-elapsed' data='1662592543'>9/7/2022</span></td><td>~25mBTC</td><td>Any</td></tr>
<tr><td><span title='8/3/2022' class='calculate-time-elapsed' data='1659570219'>8/3/2022</span></td><td>~44µBTC</td><td>Any</td></tr>
<tr><td><span title='7/29/2022' class='calculate-time-elapsed' data='1659117235'>7/29/2022</span></td><td>~42µBTC</td><td>Any</td></tr>
<tr><td><span title='7/24/2022' class='calculate-time-elapsed' data='1658703618'>7/24/2022</span></td><td>~220µBTC</td><td>Any</td></tr>
<tr><td><span title='7/24/2022' class='calculate-time-elapsed' data='1658652161'>7/24/2022</span></td><td>~220µBTC</td><td>Any</td></tr>
<tr><td><span title='7/23/2022' class='calculate-time-elapsed' data='1658578347'>7/23/2022</span></td><td>~2mBTC</td><td>Any</td></tr>
<tr><td><span title='7/22/2022' class='calculate-time-elapsed' data='1658527548'>7/22/2022</span></td><td>~220µBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='7/4/2022' class='calculate-time-elapsed' data='1656893089'>7/4/2022</span></td><td>~5.2µBTC</td><td>Any</td></tr>
<tr><td><span title='7/1/2022' class='calculate-time-elapsed' data='1656640856'>7/1/2022</span></td><td>~880µBTC</td><td>Any</td></tr>
<tr><td><span title='6/12/2022' class='calculate-time-elapsed' data='1655026782'>6/12/2022</span></td><td>~36µBTC</td><td>CodeReviews</td></tr>
<tr><td><span title='6/3/2022' class='calculate-time-elapsed' data='1654260826'>6/3/2022</span></td><td>~1.7mBTC</td><td>CodeReviews</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>~2BTC</td></tr>
<tr><td>CodeReviews</td><td>~9.7mBTC</td></tr>
<tr><td>MoreWallets</td><td>~6.7mBTC</td></tr>
<tr><td>MoreOS</td><td>~3.1mBTC</td></tr>
<tr><td>FrequentUpdates</td><td>~2.3mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>~630µBTC</td></tr>
<tr><td>Alerts</td><td>~12µBTC</td></tr>
<tr><td>NonWalletApps</td><td>~3sat</td></tr>
<tr><th>Total</th><th>~2BTC</th></tr>
</table>